<link rel="stylesheet" href="/css/profile.css">

<div id="profile-container" class="container">
    <div id="profile-header">
        <h2>Votre Profil :</h2>
    </div>
    <hr>
    <div class="table-responsive" id="table-profile">
        <table class="table table-striped">
            <tr>
                <th id="table-text-left">Nom :</th>
                <td id="table-text-right">{{user.firstname}} {{user.lastname}}</td>
            </tr>
            <tr>
                <th id="table-text-left">Nom d'utilisateur :</th>
                <td id="table-text-right">{{user.username}}</td>
            </tr>
            <tr>
                <th id="table-text-left">Email :</th>
                <td id="table-text-right">{{user.mail}}</td>
            </tr>
            <tr>
                <th id="table-text-left">Temps total vu :</th>
                <td id="table-text-right">{{math time "/" 60}} h {{math time "%" 60}} min</td>
            </tr>
        </table>
    </div>
</div>