<link rel="stylesheet" href="/css/film.css">

    <div id="container-page" class="container">

{{#if film}}
{{else}}
<h1>Vous n'avez pas de recommendations</h1>
{{/if}}
{{#each film }}
                      
            

	<div class="movie-card-1" id="movies-homepage">
	<a href="/{{_id}}">
	<div style="background-image: url('/uploads/{{picture}}')" class="movie-header-1" id="movie-picture">
	</div>
    </a>
	<div class="movie-content-1">
		<div class="movie-content-header-1">
			<a href="#">
				<h3 class="movie-title-1">{{title}}</h3>
			</a>
		</div>
		<div class="movie-info-1">
			<div class="info-section-1">
				<label id="TypeLabel">Types :  </label>
				<span>{{#each typeFilm}}
                <a href="/typefilm/{{name}}">
             <small>{{name}}</small> 
                        </a>   
                 {{/each}}</span>
			</div>
		</div>
	</div>
</div>


            {{/each}}
    </div> 
    
    <script src="/js/jquery-1.11.1.min.js"></script>
    




