<div id="bloc-detail" class="container">

    <div class="row">
    <div class="col-sm-3">
        <img id="img-detail" src="/uploads/{{film.picture}}" alt="/uploads/not_found.png" style="width:100%">
    </div>
    <div class="col-sm-9">
        <h2 id="title-detail">{{ film.title }}</h2>
       {{#if see}}
       <h2>Il l'a vu</h2>
       {{/if}}
        <hr>
        <small><p id="detail-grade">Note : {{grade}} / 5</p></small>
        <small><p class="lead" id="description">
            Description : {{ film.description}}
        </p></small>
        <h3 id="type-detail">Type : 
        {{#each film.typeFilm}}
             <a href="/typefilm/{{name}}">
                <small>{{name}}</small> 
            </a>   
                {{/each}}
        </h3>    
    </div>

<iframe id="trailer-ytb" max-width="560" max-height="315" src="https://www.youtube.com/embed/taaKB2p8dUE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      
</div>

<table class="table">
            <thead>
                <tr>
                <th scope="col">Nom d'utilisateur</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
            {{#each list_review}}
            <tr>
                <td>{{idUser.firstname}} {{idUser.lastname}}</td>
                <td>{{review}}</td>
                <td>{{grade}}</td>
            </tr>
            {{/each}}
            </tbody>
</table>
{{#if user.isAdmin}}
<a href="/edit/{{film._id}}" class="btn btn-primary">Modifier</a>
<a href="/delete/{{film._id}}" class="btn btn-danger">Supprimer</a>
{{/if}}
{{#if user }}
<a href="/review/post_review/{{film._id}}" class="btn btn-info">Poster un avis sur ce film</a>
<a href="/recommend/{{film._id}}" class="btn btn-info">recommander ce film</a>
<form action="/seen/{{film._id}}" method="POST">
<button type="submit" class="btn btn-info">J'ai vu ce film</button>
</form>

{{/if}}


</div>

