<div class="row">
    <div class="col-sm-3">
        <img src="/uploads/{{film.picture}}" alt="/uploads/not_found.png" style="width:100%">
    </div>
    <div class="col-sm-9">
        <h2>{{ film.title }}</h2>
        <a href="/edit/{{film._id}}" class="btn btn-primary">Modifier</a>
        <a href="/delete/{{film._id}}" class="btn btn-danger">Supprimer</a>
        {{#if user }}
        <a href="/review/post_review/{{film._id}}" class="btn btn-info">Poster un avis sur ce film</a>
        <a href="/grade/post_grade/{{film._id}}" class="btn btn-info">Poster une note sur ce film</a>
        <a href="/recommend/recommend/{{film._id}}" class="btn btn-info">Poster une note sur ce film</a>
        {{/if}}
        <hr>
        <p class="lead">
            {{ film.description}}
        </p>
        <h3>Type : </h3>
        {{#each film.typeFilm }}
        <a href="/typefilm/{{ name }}"><h2>{{ name }}</h2></a>
        {{/each}}
    </div>
</div>
