<link rel="stylesheet" href="/css/film.css">
<h1>Recherche : {{search}}</h1>
<hr>
<div id="container-page" class="container">


	{{#unless data}}
	<h2>Aucun film ne correspond à votre recherche</h2>
	{{/unless}}


	{{#each data }}



	<div class="movie-card-1" id="movies-homepage">
		<a href="/details/{{film._id}}">
			<div style="background-image: url('{{film.picture}}')" class="movie-header-1" id="movie-picture">
				{{{seen}}}
			</div>
		</a>
		<div class="movie-content-1">
			<div class="movie-content-header-1">
				<a href="#">
					<h3 class="movie-title-1">{{film.title}}</h3>
				</a>
			</div>
			<div class="movie-info-1">
				<div class="info-section-1">
					<label id="TypeLabel">Types : </label>
					<span>{{#each film.typeFilm}}
						<a href="/typefilm/{{name}}">
							<small>{{name}}</small>
						</a>
						{{/each}}</span>
				</div>
			</div>
		</div>
	</div>


	{{/each}}

	<br><br><br>
	{{{paginationsearch pages current}}}

</div>

<script src="/js/jquery-1.11.1.min.js"></script>