
    <h2> utilisateur : {{user.firstname}}  {{user.lastname}}</h2>
    <h2>Les films disponibles :</h2>
    <a href="/new"><h6>Ajouter un film :</h6></a>
    <hr>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
            {{#each film }}
                <tr>
                <td> <a href="/{{_id}}">{{title }}</a></td>
                <td>{{ description }}</td>
                <td id="test"></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div> 
    
    <script src="/js/jquery-1.11.1.min.js"></script>
    
    <script type="text/javascript">

$(document).ready(() => {
    const requestURL = '/' + $('#ClickFilm').val();
    console.log(requestURL);
    var ClickFilm = document.getElementById("ClickFilm");
    ClickFilm.addEventListener("click", function(){
        console.log("piipi");
        var ourRequest = new XMLHttpRequest();
        ourRequest.open('GET', requestURL);
        ourRequest.onload = function() {
            var ourData = JSON.parse(ourRequest.responseText);
            console.log(ourData[0]);
        }
        ourRequest.onerror = function(){
            console.log("Erreur de connexion");
        }
        ourRequest.send();
    })

   

})

    
    
    
    
    </script>



