<link rel="stylesheet" href="/css/film.css">

<h2>Films de type : {{typefilm}}</h2>
<hr>
{{#unless data}}
<h2>Il n'y a aucun film dans cette catégorie</h2>
{{/unless}}
<div class="container">

    {{#each data }}

    <div class="movie-card-1" id="movies-homepage">
        <a href="/details/{{film._id}}">
            <div style="background-image: url({{film.picture}})" class="movie-header-1" id="movie-picture">
                {{{seen}}}
            </div>
        </a>
        <div class="movie-content-1">
            <div class="movie-content-header-1">
                <a href="#">
                    <h3 class="movie-title-1">{{film.title}}</h3>
                </a>
            </div>

        </div>
    </div>

    {{/each}}

    <br><br><br>
    {{{paginationtype pages current typefilm}}}

</div>

<script src="/js/jquery-1.11.1.min.js"></script>